<ion-header>
  <ion-navbar>
    <ion-title>
      La tua collezione
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <show-grid [simplifiedInterface]="simplifiedInterface" (showTap)="goToDetail($event)" [shows]="shows"></show-grid>
    <ion-row *ngIf="shows.length == 0" justify-content-center>
        <ion-col text-center col-12 align-self-center>
          <ion-icon class="big-icon" ios="ios-pizza" md="md-pizza"></ion-icon>
        </ion-col>
        <ion-col text-center col-12 align-self-center>
          <h2>Non c'è nulla qui.</h2>
          <h4>Clicca sulla stella nella pagina del tuo show preferito per aggiungerlo alla collezione.</h4>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
