#searchButton {
    margin-top: 30px;
    width: 100%;
}

#inputTitle {
    margin-left: 0;
    padding: 0;
}

ion-scroll[scrollX] {
  white-space: nowrap;
  .scroll-item {
    display: inline-block;
  }
}

#sliderBox {
  padding-left: 1px;
  padding-right: 1px;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .searchbar-input {
    font-size: 45px !important;
  }

  .searchbar-search-icon {
    display: none;
  }

  .listTitle {
    font-size: 40px !important;
  }
}
