<ion-header>
  <ion-navbar>
    <ion-title>
      Impostazioni
    </ion-title>

    <ion-buttons class="appbarButton" end>
        <button (click)="save()" ion-button icon-start>
          <ion-icon name="checkbox"></ion-icon>
            SALVA
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col col-12>
          <ion-item class="customPadding">
            <ion-label color="primary" floating>Server URL</ion-label>
            <ion-input [(ngModel)]="baseurl"></ion-input>
          </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item class="customPadding">
          <ion-label>Disabilita Fast-Search</ion-label>
          <ion-toggle checked="fastSearch" [(ngModel)]="fastSearch"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
 <!--    <ion-row>
      <ion-col col-12>
        <ion-item class="customPadding">
          <ion-label>Usa risultati in cache</ion-label>
          <ion-toggle checked="useCache" [(ngModel)]="useCache"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row> -->
<!--     <ion-row>
      <ion-col col-12>
        <ion-item class="customPadding">
          <ion-label>Mostra suggerimenti in homepage</ion-label>
          <ion-toggle checked="showReccomanded" [(ngModel)]="showReccomanded"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
 -->    <ion-row>
        <ion-col col-12>
          <ion-item class="customPadding">
            <ion-label>Interfaccia semplificata (no immagini)</ion-label>
            <ion-toggle checked="simplifiedInterface" [(ngModel)]="simplifiedInterface"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
             <ion-col col-12>
               <ion-item class="customPadding">
                 <ion-label>Spoiler</ion-label>
                 <ion-toggle checked="spoiler" [(ngModel)]="spoiler" (ngModelChange)="changeSpoiler($event)"></ion-toggle>
               </ion-item>
             </ion-col>
           </ion-row>
           <ion-row>
           <ion-col col-12>
             <ion-item class="customPadding">
               <ion-label>Toolbar trasparente</ion-label>
               <ion-toggle checked="toolbar" [(ngModel)]="toolbar"></ion-toggle>
             </ion-item>
           </ion-col>
         </ion-row>
         <ion-row>
         <ion-col col-12>
           <ion-item class="customPadding">
             <ion-label>Numero minimo di elementi</ion-label>
             <ion-select [(ngModel)]="numElement" (ngModelChange)="changeElement()">
                <ion-option value="2">2</ion-option>
                <ion-option value="4">4</ion-option>
              </ion-select>
           </ion-item>
         </ion-col>
       </ion-row>
  </ion-grid>
</ion-content>
