<div *ngIf="simplifiedInterface === false; else simplifiedTemplate">
    <ion-row>

      <ion-col class="gridCol" *ngFor="let item of shows"
      [attr.col-6]="rows==2 ? '' : null"
      [attr.col-sm-2]="rows==2 || rows==4 ? '' : null"
      [attr.col-3]="rows==4 ? '' : null"
      >
        <div class="fill-image-grid poster" (tap)="onTapEventEmitter(item)" (press)="toastService.showTextToast(item.title)">
          <img img-preload="{{item.poster_path}}" alt="{{item.title}}"/>
        </div>
      </ion-col>

    </ion-row>

    <div *ngIf="infiniteScroll === true">
        <ion-infinite-scroll (ionInfinite)="onIonInfiniteEventEmitter($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</div>

<ng-template #simplifiedTemplate>
  <ion-row>
          <ion-col col-12>
              <ion-list>
                  <button ion-item *ngFor="let item of shows" (click)="onTapEventEmitter(item)">
                    <h3 class="listTitle">{{item.title}}</h3>
                  </button>
              </ion-list>

              <div *ngIf="infiniteScroll === true">
                  <ion-infinite-scroll (ionInfinite)="onIonInfiniteEventEmitter($event)">
                    <ion-infinite-scroll-content></ion-infinite-scroll-content>
                  </ion-infinite-scroll>
              </div>

          </ion-col>

    </ion-row>

  </ng-template>
