// .alert-radio-label {
//     font-size: 30px;
// }

.opaque {
    background-color: rgba(34, 35, 37, 0.1) !important;
    .toolbar-background {
      background-color: rgba(34, 35, 37, 0.1);
    }
}

.noopaque {
    background-color: rgba(34, 35, 37, 1) !important;
    .toolbar-background {
      background-color: rgba(34, 35, 37, 1);
    }
}

.titleShow{
  color: white;
}

#banner{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 30vh;
    vertical-align: bottom;
    position: relative;
}

#layer {
    background: linear-gradient(to top, rgba(25,25,25,1) 0%, rgba(25,25,25,0) 100%);
    position: absolute;
    width: 100%;
    padding-bottom: 0px;
    bottom: 0;
}

.overviewButton {
    margin: 10px !important;
}

.overview {
    font-size: 15px;
}

#infoBox {
    padding-top: 0;
    padding: 10px;
}

.currentepisode {
    float: right;
    color: lightgrey;
}

#currentEpisodeBox {
    text-align: right;
}

#selectEpisodeBox {
    margin-top: 10px;
}

#boxHeader {
    background-color: color($colors, primary);
}

.boxHeader {
    background-color: color($colors, primary);
}

#boxHeader h3 {
    margin-bottom: 0;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.action-sheets{
  .ion-md-play {
    color: color($colors, primary);
  }
}

.appbarButton {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.spinner {
    width: 100%;
    margin: 10px;
}

.loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
  }
  .loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: color($colors, primary);
    animation: loading 2s linear infinite;
  }

  @keyframes loading {
      from {left: -200px; width: 30%;}
      50% {width: 30%;}
      70% {width: 70%;}
      80% { left: 50%;}
      95% {left: 120%;}
      to {left: 100%;}
  }


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .overview {
      font-size: 24px;
    }

    .toolbar {
        height: 80px;
    }

    .loading-wrapper {
        font-size: 40px !important;
    }

    #banner{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 40vh;
        vertical-align: bottom;
        position: relative;
    }

    .button-inner {
        font-size: 16px !important;
    }

    .alert-wrapper .button-inner {
        font-size: 60px !important;
    }

    .action-sheet-title {
        font-size: 30px !important;
    }

    .action-sheet-container {
        padding: 20px !important;
        font-size: 50px !important;
    }

    .alert-wrapper {
        width: 50% !important;
        max-width: 100% !important;
//        height: 70% !important;
    }

    // .alert-wrapper div[ng-reflect-ng-switch=radio] {
    //     height: 70%;
    // }

    // .alert-wrapper .alert-radio-group{
    //     max-height: 100% !important;
    // }

    .alert-wrapper .alert-button-group {
        height: 100%;
    }

    .alert-wrapper .alert-button {
        padding: 20px !important;
        overflow: visible !important;
    }

    .item-select {
        height: 60px;
        font-size: 30px;
    }

    .title {
        font-size: 50px;
    }

    .resultText {
        font-size: 24px;
    }

    .bar-button {
        padding: 15px !important;
    }
}
